<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <title>Login A-shop</title>
</head>
<body>
    <div th:insert="~{fragments/menu :: #nav-menu}"></div>

    <p th:if="${loginError}" class="error">Неверный никнейм или пароль</p>
    <div class="login">
        <form th:action="@{/auth}" method="post">
            <table>
            <tr>
                <td>Никнейм</td>
                <td>
                    <input type="text" name="username" placeholder="your username">
                </td>
            </tr>
            <tr>
                <td>Пароль</td>
                <td><input type="password" name="password" placeholder="password"></td>
            </tr>
            </table>
            <button type="submit">Log in</button>
        </form>
    </div>
    <div class="reg">
        <p><a th:href="@{/reg/create}">Sign in</a></p>
    </div>
</body>
</html>